body {
  font-family: 'Roboto', sans-serif;
  font-weight:400;
}
.bg-white {
  background-color: white !important;
}
.bg-lightgrey {
  background-color: #fcfcfc !important;
}
.white-text {
  color:white !important;
}
.text-light {
  font-weight:300;
}
.text-regular {
  font-weight:400;
}
.text-bold {
  font-weight:500;
}
.nav li {
  font-size:16px;
  font-weight:300;
}
.nav li a {
  color:#000 !important;
}
.navbar-default {
  background-color: #fff;
  border-bottom:none;
}

.intro-section h3 {
  font-weight:300;
}

.image {
  height: inherit;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://adnanrahic.github.io/probable-giggle/img/01.jpg') no-repeat fixed 50% 20%; 
  background-size:cover;
}

.bg-image-portfolio {
  height: inherit;
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('https://adnanrahic.github.io/cdn-scrollnav/portfolio-image.jpg') no-repeat fixed 50% 20%; 
  background-size:cover;
}

.intro-heading {
  color:white;
  padding-top:50vh;
  font-size:42px;
  font-weight:300;
}

.about-me-paragraph {
  font-size:16px;
  font-weight:300;
  text-align:justify;
  padding-top:40px;
}

.footer {
  padding: 10px 0;
  background-color: #fcfcfc;
  text-align: center;
  color: #333;
  font-weight:300;
}

.portfolio-image {
  width:100%;
  margin:40px 0;
}
.fit-image {
  height:100%;
  width:100%;
}

a:hover {
  text-decoration:none;
}

.form-control {
  border-radius:0px;
  border:none;
  background-color:#efefef;
  font-weight:300;
  box-shadow:none;
}

.btn-send {
  border-radius:0px;
  background-color:#efefef;
  font-size:16px;
  transition: all .3s;
}

.btn-send:hover {
  background-color:#d3d3d3;
}

.contact-paragraph {
  margin-bottom:50px;
}